{% load range %}
<link rel="stylesheet" href="/static/css/normalise.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/board.js"></script>
<div id="boarddisplay" data-filename="{{ game.filename }}">
    <div class="name"></div>
    <div class="boarddisplay"></div>
    <div class="description"></div>
    <div class="rules"></div>
    <div class="loc invisible">
        {% for player in game.players %}
            <div>2 {{ forloop.counter }} {{ player.x }} {{ player.y }} {{ player.orientation }}</div>
            <div>1 {{ forloop.counter }} {{ player.archive.0 }} {{ player.archive.1 }} 0</div>
        {% endfor %}
    </div>
</div>

<div class="character_sheet">
    <span class="bio">
        <img src="/static/images/players/{{ player.robot }}.png" class="bot_example">
        <img src="/static/images/sheet/power_down.png" class="button" id="powerdown"/>
        Next Objective: Flag <span class="nextflag">{{ player.flag|add:1 }}</span>
    </span>
    <button id="ready_button">Ready!</button>
    <div class="lives">
        {% for i in player.lives|range %}
            <img src="/static/images/sheet/life.png"/>
        {% endfor %}
    </div>
    <div class="damage">
        {% for i in 9|range %}
            {% if player.health > i %}
                <img src="/static/images/sheet/health.png"/>
            {% else %}
                <img src="/static/images/sheet/damage.png"/>
            {% endif %}
        {% endfor %}
    </div>
    <div class="spacer"></div>
    <div class="program_cards">
        {% for card in player.program_cards %}
            <img src="/static/images/cards/{{ card.priority }}.png"
                 class="program_card{% if card.locked %} locked{% endif %}{% if player.power_down == 0 %} invisible{% endif %}"/>
        {% endfor %}
    </div>
</div>
<div class="cards">
    <div class="hand">
        {% for card in player.hand %}
            <img src="/static/images/cards/{{ card.priority }}.png" alt="{{ card.card }}" class="program_card"/>
        {% endfor %}
    </div>
    <div class="option_cards">
        <h3>Your Options:</h3>
        {% for option in player.option_list %}
            <div class="option">{{ option|safe }}</div>
        {% endfor %}
    </div>
</div>
