<link rel="stylesheet" href="/static/css/normalise.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/board.js"></script>
<div id="boarddisplay" data-filename="{{ game.filename }}">
    <div class="name"></div>
    <div class="boarddisplay"></div>
    <div class="description"></div>
    <div class="rules"></div>
</div>
<div class="character_sheet">
    <div class="bio">
        ROBOT_NAME
        ROBOT_DESCRIPTION
    </div>
    <div class="lives">
        <img src="/static/images/sheet/life.jpg"/>
        <img src="/static/images/sheet/life.jpg"/>
        <img src="/static/images/sheet/life.jpg"/>
    </div>
    <div class="damage">
        <img src="/static/images/sheet/damage.jpg"/>
        <img src="/static/images/sheet/damage.jpg"/>
        <img src="/static/images/sheet/damage.jpg"/>
        <img src="/static/images/sheet/damage.jpg"/>
        <img src="/static/images/sheet/damage.jpg"/>
        <img src="/static/images/sheet/damage.jpg"/>
        <img src="/static/images/sheet/damage.jpg"/>
        <img src="/static/images/sheet/damage.jpg"/>
        <img src="/static/images/sheet/damage.jpg"/>
    </div>
    <div class="spacer"></div>
    <div class="program_cards">
        <img src="/static/images/cards/move1.jpg"/>
        <img src="/static/images/cards/move2.jpg"/>
        <img src="/static/images/cards/move3.jpg"/>
        <img src="/static/images/cards/move4.jpg"/>
        <img src="/static/images/cards/move5.jpg"/>
    </div>
</div>
<div class="cards">
    <div class="hand">
        <img src="/static/images/cards/move1.jpg"/>
        <img src="/static/images/cards/move2.jpg"/>
        <img src="/static/images/cards/move3.jpg"/>
        <img src="/static/images/cards/move4.jpg"/>
    </div>
    <div class="option_cards">
        <img src="/static/images/cards/fire_control.jpg"/>
    </div>
</div>
