{% extends 'base.html' %}
{% block title %}Documentation{% endblock %}
{% block content %}
    <p>
        <h1>Statement Of Purpose</h1>
        This project is a website designed to allow the user to play the board game
        <a href="http://www.wizards.com/default.asp?x=ah/prod/roborally">Robo Rally</a>
        online with other users.<br/>
        It is designed to run on all platforms which have a HTML5 capable web browser
        and Javascript.<br/>
    </p>
    <p>
        <h1>Screen And Interface Design</h1>
        <figure>
            <img src="/static/images/documentation/lobby_GUI_draft1.jpg">
            <figcaption>
                Sam's first design for the lobbies page. The user can join various
                lobbies from the side, and view what is happening in them in the
                rest of the screen. In the end, this was not implemented due to time
                constraints.
            </figcaption>
        </figure>
        <figure>
            <img src="/static/images/documentation/game_GUI_draft1.jpg">
            <figcaption>
                Sam's first design for the game screen. Board is displayed, followed
                by the player's character sheet, followed by the other player's
                character sheets. These will be expandable and contractable. However, this
                is a feature we will leave till later to implement as it is not nessecary.
            </figcaption>
        </figure>
    </p>
    <p>
        <h1>Screenshots</h1>
        <figure>
            <img src="/static/images/screenshots/git_merge.png">
            <figcaption>
                This is how we would combine our 2 projects together when we had both been
                working on the same file.
            </figcaption>
        </figure>
    </p>
{% endblock %}
