{% extends 'base.html' %}
{% block title %}Instructions{% endblock %}

{% block content %}
    <p>
        <h1>Summary</h1>
        In Robo Rally, you draw random cards each turn, featuring instructions for the movement of your robot. Choose 5
        of these cards to plan out your robot's moves across the course. Other robots and board elements, however, can
        interact with your robot and screw your plans over.
    </p>
    <p>
        <h1>Objective</h1>
        The objective of robo rally is to get your bot to all of the flags, in order, and to be the first to do so.
        Getting your robot to the flags isn't always easy, though, becaus you'll execute your maves at the same time as
        all the other players. Robots will get in each other's way, push each other, and shoot each other. Sometimes
        it's even a challenge to simply survive.
    </p>
    <p>
        <h1>How to play</h1>
        The order of each turn:
        <ol>
            <li>The game deals the program cards to you</li>
            <li>Arrange your program cards by clicking on pairs of program cards to swap them</li>
            <li>
                While you do that, you can choose to either enable or disable any options which require you to choose
                whether to use them, such as recompile
            </li>
            <li>Hit ready, and when everyone is ready, the turn will start</li>
            <li>
                The game will run one register (single card) at a time. Within each register:
                <ol>
                    <li>
                        Robots move as shown below.
                        <img src="/static/images/screenshots/pushing.jpg" style="width:800px"/>
                    </li>
                    <li>
                        Express conveyers move 1 square. If the conveyer belt turned, you turn with it, as shown below.
                        <img src="/static/images/screenshots/conveyers.jpg" style="width:400px"/>
                    </li>
                    <li>Both express and normal conveyer belts move, in the same way as before.</li>
                    <li>
                        Pushers push if they are active. Pushers with 3 prongs are active on registers 1, 3, and 5, and
                        pushers with 2 prongs are active on 2 and 4.
                    </li>
                    <li>Gears rotate you according to the direction of the arrows on the gears</li>
                    <li>Board lasers fire. If they are blocked by a wall or another robot, they cannot hit you</li>
                    <li>Robot lasers fire in the direction robots are facing. Same rules apply.</li>
                    <li>
                        Robots touch flags and place archive markers. Your archive marker is your respawn point. If you
                        were on top of a repair station or a flag, your archive marker is placed there (number in
                        circle).
                    </li>
                </ol>
            </li>
            <li>
                Any robot on repair stations after the last register will be healed by 1, and any robot on a square with
                a hammer and wrench will obtain an option card (as well as the heal).
            </li>
        </ol>
    </p>
    <p>
        <h1>Dying</h1>
        You die when either you fall off the map into a pit or off the edge, or when you lose all your health.
        When you come back, you come back with 2 damage already taken and one less life.
    </p>
    <p>
        <h1>Power Down</h1>
        Power down is a state of healing. Declaring power down means you play the next round, but the turn after, you
        are powered down. During a round in which you are powered down, you get dealt no cards, and cannot do anything,
        but at the start of the turn you get restored to full health. While powered down you can still take damage,
        however.
    </p>
    <p>
        <h1>Help (FAQs)</h1>
        <h3>How do I arrange my cards?</h3>
            You can arrange your cards by clicking on any pair of them to swap them. When you have finished, click ready
            and when everyone is ready, the game will make a move. However, cards will not swap when a register is
            locked.
        <h3>What is a priority?</h3>
            A card's priority is the number in the top right of the card. It indicates how to handle the situation when
            2 robots would push each other. The higher priority always moves first
        <h3>How do I capture flags?</h3>
            You capture flags by being on the same spot as the flag at the end of any register, having captured the flag
            before it.
        <h3>Why have my cards become transparent?</h3>
            If your cards go transparent, that means that that card is locked in place. You must use that card, and
            cannot switch it out, until you heal sufficiently to do so.
        <h3>Why is my bot transparent?</h3>
            If a bot is transparent, it is "virtual". It cannot interact with other bots while transparent, but can be
            affected by board elements. It stops being virtual when it starts a turn on a square not covered by another
            robot.
    </p>
{% endblock %}
