{% extends 'base.html' %}
{% block title %}Instructions{% endblock %}

{% block content %}
    <p>
        <h1>Objective</h1>
        The objective of robo rally is to get your bot to all of the flags, in order, and to be the first to do so. You
        can try and stop others from getting the flags by shooting the other players and by pushing them off course.
    </p>
    <p>
        <h1>How to play</h1>
        You play by arranging your program cards in the order you want them to be executed. The first 5 program cards
        will get executed, and the rest will get discarded. Click "ready" when you have finished making your move. When
        everyone finishes making their move, the turn starts. The players with the highest priority cards will move
        first
    </p>

    <p>
        <h1>Help (FAQs)</h1>
        <h3>How do I arrange my cards?</h3>
            You can arrange your cards by clicking on any pair of them to swap them. When you have finished, click
            ready

    </p>
{% endblock %}
