{% load xextends %}
{% xextends 'common/form.html' with title='lobbies' button='Create Lobby' %}
{% block scripts %}
    <script src="/static/js/table.js"></script>
{% endblock %}
{% block morecontent %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Players</th>
            </tr>
        </thead>
        {% for lobby in lobbies %}
            <tr>
                <td>{{ lobby.name|title }}</td>
                <td>{{ lobby.num_people }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
